@charset "utf-8";
	.NormalCharacterStyle12
{
	font-family : ITC Avant Garde Gothic Pro;
	font-size : 70px;
	color : #0872B9;
	color : rgb(8, 114, 185);
}
.NormalCharacterStyle13
{
	font-family : ITC Avant Garde Gothic Pro;
	font-size : 35px;
	color : #FFFAE1;
	color : rgb(255, 250, 225);
}
.NormalCharacterStyle8
{
	font-family : Bookmania;
	font-size : 91px;
	color : #0872B9;
	color : rgb(8, 114, 185);
}
.NormalCharacterStyle10
{
	font-family : Bookmania;
	font-size : 58px;
	color : #0872B9;
	color : rgb(8, 114, 185);
}
.NormalCharacterStyle
{
	font-family : ITC Avant Garde Gothic Pro;
	font-size : 30px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Bookmania;
	font-size : 91px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle4
{
	font-family : Bookmania;
	font-size : 59px;
	color : #FFFAE1;
	color : rgb(255, 250, 225);
}
.NormalCharacterStyle9
{
	font-family : Bookmania;
	font-size : 71px;
	color : #0872B9;
	color : rgb(8, 114, 185);
}
.NormalCharacterStyle5
{
	font-family : ITC Avant Garde Gothic Pro;
	font-size : 30px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle11
{
	font-family : ITC Avant Garde Gothic Pro;
	font-size : 88px;
	color : #0872B9;
	color : rgb(8, 114, 185);
}
.NormalCharacterStyle1
{
	font-family : Bookmania;
	font-size : 71px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle6
{
	font-family : ITC Avant Garde Gothic Pro;
	font-size : 67px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle15
{
	font-family : ITC Avant Garde Gothic Pro;
	font-size : 52px;
	color : #0872B9;
	color : rgb(8, 114, 185);
}
.NormalCharacterStyle3
{
	font-family : ITC Avant Garde Gothic Pro;
	font-size : 33px;
	color : #FFFAE1;
	color : rgb(255, 250, 225);
}
.NormalCharacterStyle14
{
	font-family : Bookmania;
	font-size : 63px;
	color : #FFFAE1;
	color : rgb(255, 250, 225);
}
.NormalCharacterStyle7
{
	font-family : Bookmania;
	font-size : 71px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
